.container {
    width: 350px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

h2 {
    margin-left: 15px;
}

#calculator{
    height: 160px;
    width: 250px;
    padding: 20px;
    border: 2px solid black;
    background-color: lightcoral;
    margin: 0 auto;
}

#dispDiv {
    height: 40px;
    width: 200px;
    padding: 8px;
    border: 1px solid black;
    background-color: white;
    margin-bottom: 10px;
}

#pastCalculations {
    margin: 0 auto;
}